<div class="container-fluid">
  <div class="row">
    <div class="register-background col-md-6">
        <img class="logo-image" src="https://brand-fuel.de/wp-content/uploads/2017/07/logo1.png">
        <h2 class="gradient-text">Sure, everbody buys E-Bokks but actually no one reads them. Get your
        Handcrafted Premium Articles and use your time more wisely.</h2>
        <ul class="gradient-list">
          <li class="gradient-list-tag"><i class="fa fa-clock-o"></i><span> Save More Time</span></li>
          <li class="gradient-list-tag"><i class="fa fa-info-circle"></i><span> Get Your Infos Quick</span></li>
          <li class="gradient-list-tag"><i class="fa fa-comment"></i><span> Only Articles From Top Sources</span></li>
          <li class="gradient-list-tag"><i class="fa fa-edit"></i><span> No Spun Articles or Any Artificial Articles</span></li>
          <li class="gradient-list-tag"><i class="fa fa-coffee"></i><span> Enjoy To Read Articles in The Intranet Again!</span></li>
        </ul>
        <img class="bg-image" src="https://brand-fuel.de/wp-content/uploads/2017/07/hands.png">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="register-sign-up col-md-offset-6">
      <div class="well">
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        <div class="text-center">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>