/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

h1, h2 {
    font-family: 'Lobster', 'Open Sans', 'sans-serif';
}

h3, h4, h5, h6 {
    font-family: 'Cabin', 'Open Sans', 'sans-serif';
}


.wrapper {
  margin-left: 140px;
}

.container {
  height: 20px;
}

.navbar-brand {
  height: auto;
  padding: 0px;
}

.navbar-default {
  background: transparent;
}

.register-heading {
  font-size: 48px;
}

.register-background {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: -20px 50px 0px -50px;
  height: 1120px;
  position: fixed;
  -webkit-box-shadow: 0 30px 20px #777;
  -moz-box-shadow: 0 30px 20px #777;
  box-shadow: 0 30px 20px #777;
}

.register-sign-up {
  padding: 150px 0px 0px 200px;
}

.register-sign-up-bg {
  background: #333;
}

.logo-image {
  padding: 50px 0px 0px 350px;
}

.register-heading {
  text-align: center;
  color: #fff;
}

.gradient-text {
  color: #fff;
  text-align: center;
}

.gradient-list {
  color: #fff;
  text-align: left;
  padding: 50px 0px 0px 100px;
  list-style-type: none;
}

.gradient-list-tag {
  padding: 10px;
  font-size: 18px;
}

.bg-image {
  padding-left: 100px;
  margin-top: 40px;
}

.form-sign-up {
  padding-bottom: 25px;
}

.well {
  background: #f9f9f9 none repeat scroll 0 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn-success {
  background: #4caf50 none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin: 0 0 5px;
    padding: 10px;
    width: 100%;
}

.contact-callout {
  background: #43cb83;
  padding-bottom: 320px;
  margin-top: -20px;
}

.contact-callout-row {
  position: relative;
  margin-top: -200px;
}

.contact-callout-row-2 {
  margin-top: -250px;
  padding-bottom: 500px;
}

.contact-well {
  height: 450px;
}

.contact-list {
  list-style-type: none;
}

.contact-list-item {
  font-size: 16px;
}