<!DOCTYPE html>
<html>
  <head>
    <title>DevMatch</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--navigation-->
<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="/">DevMatch</a>
  <ul class="nav navbar-nav">
    <li><a href="/"><i class="fa fa-home"></i><span> Home </span></a></li>
   <li><a href="/about"><i class="fa fa-info-circle"></i><span> About </span></a></li>
   <li><a href="#love"><i class="fa fa-heart"></i><span> Courses </span></a></li>
   <li><a href="#work"><i class="fa fa-briefcase"></i><span> Leitfaden </span></a></li>
   <li class="custom-sign-in"><a href="#contact">Sign In</a></li>
  </ul>
</div>
<!--end navigation-->
      <%= yield %>
  </body>
</html>
